<!DOCTYPE html>
<html lang="en">
<head>
  {% block content1 %}
  <title>Bootstrap Example</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
        table, th, td {
              border: 2px solid black;
              border-collapse: collapse;
                  }

        </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">athirabits</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Software testing<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Manual testing</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>
{% block content2 %}
{% endblock %}
<footer>
  <br>
  <br>
  <div class="footer-copyright text-center py-3">
      <br>
      Made by : Athira Krishnan
      <br>
      © 2020 Copyright:
    <a href="/"> athirabits.com</a>
  </div>
</footer>

</body>
</html>
